<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testing.org/testng-1.0.dtd">

<suite name = "SimpleTest suite name" verbose= "2" parallel="methods" thread-count="10">
    <test name = "SimpleTest test name">
        <classes>
            <class name = "classwork.lesson26.logger.LoginTests"/>
            <class name = "classwork.lesson26.logger.FramesTests"/>
        </classes>
    </test>
</suite>