<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testing.org/testng-1.0.dtd">

<suite name = "Testng tests" >
    <test name = "Testng tests">
        <classes>
         <class name = "classwork.lesson17_setting_browser.WaitersTests"/>
        </classes>
    </test>
</suite>